.header{
    margin:0;
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    align-items: center;
    height: 5vh;
    box-shadow: 0 3px 10px rgb(211, 210, 210) ;
    
}

p:hover{
    color: rgb(26, 134, 134);
    cursor: pointer;
}

.mainPage{

    height: 93vh;
    overflow: hidden;
}